.catering-hire-us__image {
  width: 1140px;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.catering-hire-us__content {
  padding: 90px 30px;
  margin-left: auto;
  margin-right: auto; 
  max-width: 700px; 
}

.catering-hire-us__title {
  font-family: "Permanent Marker", sans-serif;
  color: var(--section-name-accent-color);
  font-size: 16px;
  font-weight: lighter;
}
.catering-hire-us__subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 38px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--black-text-color);
}

.catering-hire-us__description {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: var(--darkish-gray-text-color);
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 30px;
}

.catering-hire-us__list {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: var(--darkish-gray-text-color);
  font-weight: bold;
  line-height: 25px;
}

.catering-hire-us__additional-info {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: var(--description-color);
  padding-top: 20px;
  line-height: 25px;
}

.catering-hire-us__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 50px;
  gap: 10px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .catering-hire-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .catering-hire-us__image {
    width: 1140px;
    height: 100%;
    object-fit: cover;
  }
  .catering-hire-us__content {
    display: flex;
    flex-direction: column;
  }
  .catering-hire-us__subtitle {
    font-size: 56px;
  }
  .catering-hire-us__title {
    font-size: 20px;
  }
}
