/* Vlad Pylypenko */
.delivery-zone-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Центрирование текста по высоте */
    margin: 20px;
}

.delivery-info {
    flex: 1;
    margin-right: 7%;
    padding-left: 10%;
    text-align: left;
    display: flex;
    flex-direction: column; /* Чтобы текст оставался вертикально ориентированным */
    justify-content: center; /* Центрирование по вертикали */
    height: 100%; /* Наследуйте высоту от родителя или задайте вручную */
}

.catering-areas__title {
    font-size: 18px;
    color: red;
    font-family: 'Permanent Marker', Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
}

.catering-areas__subtitle {
    font-size: 47px;
    font-weight: bold;
    font-family: Rubik, Arial, sans-serif;
    color: #333;
}

.catering-areas__description {
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: #333;
    margin-bottom: 15px;
}

.catering-areas__marker {
    font-size: 17px;
    font-family: Verdana, sans-serif;
    color: #333;
    margin-bottom: 15px;
}

.delivery-list {
    margin-top: 10px;
    margin-bottom: 20px;
}

.delivery-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.delivery-item svg {
    margin-right: 10px;
}

.map-container {
    flex-grow: 1;
    max-width: 70%;
}

.map-container iframe {
    width: 100%;
    height: 600px;
}

@media (max-width: 768px) {
    .delivery-zone-container {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .delivery-info {
        margin-right: 0;
        padding-left: 0;
        text-align: center;
    }

    .catering-areas__title {
        font-size: 16px;
    }

    .catering-areas__subtitle {
        font-size: 32px;
    }

    .catering-areas__description,
    .catering-areas__marker {
        font-size: 18px;
    }

    .map-container {
        max-width: 100%;
        margin-top: 20px;
    }

    .map-container iframe {
        height: 400px;
    }
}
