@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');




*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Breakpoints */
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
  /* end Breakpoints */

  scroll-behavior: smooth;
  --font-family-primary: 'Lato', sans-serif;
  --section-name-accent-color: #e7272d;
  --section-main-color: #fbbe36;
  --background-footer-color: #282623;
  --header-secondary-color: #efad18;
  --footer-background-button: #403e3b;
  --gray-text-color: #4f5047;
  --white-text-color: #ffffff;
  --content-container-size: 1200px;
  --title-contacts-color: #282623;
  --description-color: #676767;
  --red-color: #e7272d;
  --black-text-color: #282623;
  --contact-us-color: #adadad;
  --contact-us-bgc: #272622;
  --background-cream-color: #fbf7ed;
  --paragraph-text-gray-color: #625961;
  --block-title-size: 56px;
  --block-title-size-mobile: 38px;
  --block-title-size-tablet: 47px;
  --block-title-font: 'Rubik', sans-serif;
  --subtitle-size: 20px;
  --heading-size: 30px;
  --heading-size-mobile: 24px;
  --heading-size-tablet: 27px;
  --accent-font: 'Permanent Marker', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}
