@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');




*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --font-family-primary: 'Lato', sans-serif;
  --section-name-accent-color: #e7272d;
  --section-main-color: #fbbe36;
  --background-footer-color: #282623;
  --header-secondary-color: #efad18;
  --footer-background-button: #403e3b;
  --gray-text-color: #4f5047;
  --white-text-color: #ffffff;
  --content-container-size: 1200px;
  --black-text-color: #282623;
  --contact-us-color: #adadad;
  --contact-us-bgc: #272622;
}

img {
  display: block;
  max-width: 100%;
}
