@import './global.css';

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--section-main-color);
    padding: 50px 20px;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .hero__title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--accent-font);
    color: var(--red-color);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .hero__subtitle {
    font-size: 2rem;
    font-family: var(--block-title-font);
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--white-text-color);
  }
  
  .hero__description {
    font-size: 1.2rem;
    font-family: var(--font-family-primary);
    color: rgb(69, 69, 69);
    margin-bottom: 30px;
    max-width: 600px;
  }
  
  .hero__cta {
    display: inline-block;
    background-color: #e63946;
    color: var(--white-text-color);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font-family-primary);
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 25px;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
  }
  
  .hero__cta:hover {
    background-color: #d62828;
  }
  
  .hero__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .hero__contact-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
  }
  
  .hero__contact-text {
    font-size: 1rem;
    font-family: var(--font-family-primary);
    font-weight: bold;
    color: #ffffff;
  }
  
  .hero__contact-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: var(--font-family-primary);
    font-weight: bold;
  }
  
  .hero__contact-link:hover {
    text-decoration: underline;
  }