/*Hrunt Dmitry*/
.promo__details {
  background-color: var(--section-main-color);
  font-family: var(--block-title-font);
  display: block;
  padding: 45px 24px;
}

.promo__offer {
  font-size: 30px;
  color: var(--white-text-color);
  font-weight: bold;
  margin: 0px 15px;
  
}

.promo__note {
  font-size: 14px;
  color: var(--white-text-color);
  margin: 0 15px;
  text-align: left;
  margin: 55px 15px;
  max-width: 360px;
}

.promo__star {
  color: var(--red-color);
  font-family: var(--font-family-primary);
}

.promo__link {
  font-size: 16.5px;
  font-family: var(--font-family-primary);
  color: var(--white-text-color);
  font-weight: bold;
  margin-top: 20px;
  padding: 13px 20px;
  height: 50px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  background-color: var(--red-color);
  &:hover {
    background-color: var(--contact-us-bgc);
  }
}

.ingredients__image {
  width: 100%;
  display: block;
}

.ingredients__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px auto;
  padding: 30px;
}

.ingredients__title {
  color: var(--section-name-accent-color);
  font-family: var(--accent-font);
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: normal;
}

.ingredients__subtitle {
  font-size: 38px;
  font-family: var(--block-title-font);
  font-weight: bold;
  color: var(--title-contacts-color);
  margin: 0 0 10px;
}

.ingredients__description {
  font-size: 20px;
  font-family: var(--font-family-primary);
  font-weight: bold;
  color: var(--darkish-gray-text-color);
  margin-bottom: 20px;
}

.ingredients__text {
  font-size: 17px;
  font-family: var(--font-family-primary);
  color: var(--paragraph-text-gray-color);
  margin-top: 10px;
}

svg {
  width: 20px;
  color: var(--header-secondary-color);
  padding: 0;
  margin: 5px 0 5px;
}

.ingredients__list {
  margin: 7px 0;
}

.ingredients__item {
  display: flex;
  gap: 20px;
  margin: 5px 0;
  align-items: center;
}

.ingredients__item-text {
  font-size: 17px;
  font-family: var(--font-family-primary);
  color: var(--darkish-gray-text-color);
  font-weight: bold;
}

@media (min-width: 768px) {
  .promo__details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .ingredients {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .ingredients__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 570px;
    padding: 0 60px;
  }

  .ingredients__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 110px;
  } 

  .ingredients__text {
    margin-top: 60px;
  }
}  
