.menu-hero{
    background-color: var(--section-main-color);
    min-width: 320px;
    margin: 0 auto;
    padding: 80px 32px;
    position: relative;
    display: flex ;
    flex-direction: column;
}

.menu-hero__title{
    font-family: var(--accent-font);
    color: var(--section-name-accent-color);
    font-size: 16px;
    font-weight: lighter;
}

.menu-hero__subtitle {
    font-family: var(--block-title-font);
    color: var(--white-text-color);
    font-size: 38px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 30px;
  }

  .menu-hero__description {
    color: var(--white-text-color);
    font-family: var(--font-family-primary);
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
  }

@media (min-width: 768px) {
    .menu-hero{
        flex-direction: row;   
        justify-content: space-evenly;      
        gap: 80px;
    }
    .menu-hero__description {
        width: 600px;
        padding-top: 25px;
        justify-content: center;
      }
}
@media (min-width: 992px) {
    .menu-hero__subtitle {
      font-size: 56px;
    }
    .menu-hero__title {
      font-size: 20px;
    }
}